*{
    margin: 0;
    padding: 0;
    background-color: rgb(196, 201, 196);
}
.container{
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

.contact{
    float: left;
    width: 100%;
}
.about{
    width: 90%;
    float: left;
}

.image{
    width: 10%;
    float: right;
}

.image img{
    width: 100%;
    height: 102px;
    outline: #e4fae5 solid 2px;
}

h3{
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
    padding: 5px;
    color: rgb(81, 9, 109);
    background-color: rgb(224, 214, 122);
}

h4{
    font-family: 'Times New Roman', Times, serif;
    font-size: 14px;
    padding: 5px;  
    background-color: rgb(224, 240, 240);
    margin: 5px;
}
h5{
    font-family: 'Times New Roman', Times, serif;
    font-size: 14px; 
    margin-left: 60px;
    font-weight: normal;
}
p{
    font-family: 'Times New Roman', Times, serif;
    font-size: 14px;
    padding: 5px;  
    background-color: rgb(224, 240, 240);
    margin: 5px;
}

li{
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
    font-weight: bold;
    margin-left: 20px;
    background-color: rgb(224, 240, 240);
    margin: 5px;
}

.skills .container ul li{
    font-family: 'Times New Roman', Times, serif;
    font-size: 14px;
    font-weight: normal;
    padding: 5px;
    margin-left: 20px;
    background-color: rgb(224, 240, 240);
    outline: 5px;
}
.interests .container ul li{
    font-family: 'Times New Roman', Times, serif;
    font-size: 14px;
    font-weight: normal;
    padding: 5px;
    margin-left: 20px;
    background-color: rgb(224, 240, 240);
}
.declaration .container p{
    font-family: 'Times New Roman', Times, serif;
    font-size: 14px;
    font-style: italic;
    font-weight: bold;
}

.place{
    font-family: 'Times New Roman', Times, serif;
    font-size: 14px;
    width: 50%;
    float: left;
}

.date{
    font-family: 'Times New Roman', Times, serif;
    font-size: 14px;
    width: 50%;
    float: right;
    text-align: right;
}


@media only screen and (max-width: 800px) {
    .about{
        width: 80%;
        float: left;
    }
    
    .image{
        width: 20%;
        float: right;
    }
}
@media only screen and (max-width: 300px) {
    .about{
        width: 70%;
        float: left;
    }
    
    .image{
        width: 30%;
        float: right;
    }
}


